@charset "utf-8";
	#filters a,#testimonial-full blockquote {
	text-transform: uppercase;
	letter-spacing: 3px
}
#filters a,#toTop {
	text-decoration: none
}
.isotope,.isotope .isotope-item {
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-ms-transition-duration: .8s;
	-o-transition-duration: .8s;
	transition-duration: .8s
}
.isotope {
	-webkit-transition-property: height,width;
	-moz-transition-property: height,width;
	-ms-transition-property: height,width;
	-o-transition-property: height,width;
	transition-property: height,width
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform,opacity;
	-moz-transition-property: -moz-transform,opacity;
	-ms-transition-property: -ms-transform,opacity;
	-o-transition-property: -o-transform,opacity;
	transition-property: transform,opacity
}
.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s
}
#filters {
	font-size: 12px;
	letter-spacing: 1px;
	padding: 0;
	margin: 0 0 20px;
	font-weight: 400
}
#filters li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px
}
#filters a {
	outline: 0;
	padding: 12px 20px;
	font-size: 16px;
	background: #eee;
	border: none!important;
	color: #888
}
#filters a:hover {
	background: #111
}
#filters a.selected {
	color: #fff
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1
}
.flexslider {
	width: 100%;
	background: 0 0;
	border: none;
	box-shadow: none;
	margin: 0
}
.control-slider {
	float: right;
	display: inline-block;
	margin-right: -10px
}
.next-slider,.prev-slider {
	float: left;
	display: block;
	text-align: center;
	margin-top: 10px;
	cursor: pointer
}
.logo-carousel .flex-direction-nav,.logo-carousel.no-control .flex-control-nav,.project-carousel .flex-control-nav,.project-carousel .flex-direction-nav,.project-carousel-3-col .flex-control-nav,.project-carousel-3-col .flex-direction-nav,.testi-slider .flex-direction-nav {
	display: none
}
.next-slider i,.prev-slider i {
	border: 1px solid #ccc;
	padding: 5px 10px
}
.next-slider i:hover,.prev-slider i:hover {
	color: #fff;
	border: 1px solid #333;
	background: #333
}
.prev-slider {
	margin-right: -5px
}
.project-carousel ul.slides,.project-carousel-3-col ul.slides {
	margin-top: 10px;
	margin-bottom: 20px
}
.logo-carousel li img {
	width: auto!important
}
#testimonial-full {
	text-align: center;
	padding: 10px 0;
	text-shadow: none
}
#testimonial-full blockquote {
	color: #fff;
	border: none!important;
	margin: 0;
	font-size: 18px;
	font-family: Raleway;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5em
}
#testimonial-full span {
	letter-spacing: 0;
	margin-top: 20px;
	text-transform: none
}
.testi-slider .flex-control-nav {
	position: absolute!important;
	margin-top: -50px!important;
	width: 100%;
	bottom: -40px;
	text-align: center
}
.testi-slider .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1
}
.testi-slider .flex-control-paging li a {
	background: 0 0;
	width: 8px;
	height: 8px;
	display: block;
	border: 1px solid #fff;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none
}
#toTop,#toTopHover {
	width: 51px;
	height: 51px;
	overflow: hidden
}
.testi-slider .flex-control-paging li a:hover {
	border: 1px solid #fff;
	background: #fff
}
.testi-slider .flex-control-paging li a.flex-active {
	border: 1px solid #fff;
	cursor: default;
	background: #fff
}
#toTop {
	z-index: 1555;
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: none;
	text-indent: -999px;
	background: url(../images/ui.totop.png) left top no-repeat
}
#toTopHover {
	background: url(../images/ui.totop.png) left -51px no-repeat;
	display: block;
	float: left
}
#toTop:active,#toTop:focus {
	outline: 0
}
.owl-theme .owl-controls .owl-page span {
	background: #fff!important;
	margin-top: 30px;
	width: 5px;
	height: 5px
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink .7s infinite;
	-moz-animation: blink .7s infinite;
	animation: blink .7s infinite
}
@keyframes blink {
	0%,100% {
	opacity: 1
}
50% {
	opacity: 0
}
}@-webkit-keyframes blink {
	0%,100% {
	opacity: 1
}
50% {
	opacity: 0
}
}@-moz-keyframes blink {
	0%,100% {
	opacity: 1
}
50% {
	opacity: 0
}
}